.table-contents {
    height: 200px;
    overflow-y: scroll;
}

thead tr:nth-child(1) th {
    background: white; 
    position: sticky;
    top: 0;
    z-index: 10;
}

.table-head {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #979797;
}

.data-table {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #3D3D3D;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ED1260;
    border-radius: 10px;
  }