/* The container-radio-btn */
.container-radio-btn {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.002em;
    color: #3D3D3D;
    text-align: left;
  }
  
  /* Hide the browser's default radio button */
  .container-radio-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: white;
    border: 1px solid #4F5154;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container-radio-btn:hover input ~ .checkmark-radio {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container-radio-btn input:checked ~ .checkmark-radio {
    border: 1px solid #ED1260;
    background-color: #ED1260;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-radio-btn input:checked ~ .checkmark-radio:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-radio-btn .checkmark-radio:after {
       top: 31%;
      left: 31%;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: white;
  }