#select-form-group {
    display: grid;
    grid-template-columns: 4fr 11fr;
    margin-left: 12px;

  }
  #select-form-two {
    display: flex;
  }
  @media (max-width:994px){
    #select-form-group {
      grid-template-columns: 4fr 11fr;
    }
  }
  @media (max-width:590px){
    #select-form-group {
      grid-template-columns: 1fr 3fr;
    }
  }